.challengesContainer {
    background-color: #0F0F23; 
    color: white;
    min-height: 100vh;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #0C0C13;
    padding: 20px;
    width: 100%;
}

.titleList {
  margin: 10px 24px;
}

.cardDiff {
    text-align: center  ;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #36d3993d;
    color: #36D399;
}

.card {
    background-color: #0F0F23 ;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #282834 2px solid;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #0f0f23b0;
    cursor: pointer;

}

.cardAction {
    background-color: #1102df;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen {
    
}