.challengesContainer {
    background-color: #0F0F23; 
    color: white;
    min-height: 100vh;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #FFF ;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}