<header>
    <nav>
        <div class="logo">
            <img src="../images/app-icon.png" alt="CypherLab Icon">
            <span>CypherLab</span>
        </div>

        <ul class="nav-links">
            <li><a href="../pages/dashboard.html">Início</a></li>
            <li><a href="../pages/challengesList.html">Desafios</a></li>
            <li><a href="../pages/rankings.html">Rankings</a></li>
            <li><a href="../pages/user.html">Perfil</a></li>
        </ul>
        <div class="rightSide">
            <div class="avatarCircle" id="headerAvatar"></div>
                <button class="btnLogout" id="btnLogout">Sair</button>  
        </div>
    </nav>
</header>